.activityContainer {
  max-width: 1920px;
  margin: auto;
  padding: 10px;
}

.activityInformation {
}

.activityHeader {
  min-height: 120px;
}

.activityMap {
  width: 100%;
  min-width: 300px;
  height: 550px;
}

.activityPrimary {
  display: grid;
  max-width: 320px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 20px 0;
  margin: 0 auto;
}

.activityPrimary > * {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 3px;
}

.activitySecondary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.activityStatsContainer {
  padding-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.activityStats {
  width: 100%;
}

.activityStatsTable {
  width: 100%;
}
.activityStatsHeader {
  font-size: 23px;
  padding-right: 2px;
}
.activityStatsBody > * {
  margin: 0.1vw;
}

.activityStatsFoot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.metricsContainer {
  width: 100vw;
  height: 350px;
  margin-top: 20px;
}

.metricsHeader {
  display: flex;
  justify-content: space-evenly;
}

.powerCurveChart {
  padding: 20px 10px;
}

@media screen and (min-width: 700px) {
  .activitySecondary {
    flex-direction: row;
  }
  .metricsContainer {
    width: 100%;
  }
  .activityStats {
    width: 100%;
  }
  .activityPrimary {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .activityStatsContainer {
    grid-template-columns: 40% 60%;
  }
  .activitySecondary {
    flex-direction: column;
  }
  .activityMap {
    height: 535px;
    padding-left: 15px;
  }
}
