.athleteInfo {
  width: 80%;
  margin: 20px auto;
}

.monthlySummaryContainer {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.summaryInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.infoTotals {
  display: flex;
  list-style: none;
  font-size: 20px;
  justify-content: center;
}

.infoTotals > li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 25px;
}

.infoTotalsDescription {
  font-size: 10px;
}

.summaryChart {
  display: grid;
  grid-template-columns: 10px 70px 1fr;
  width: 80%;
  margin: auto;
  height: 120px;
  align-items: end;
}

.yAxis {
  width: 70px;
  height: 115px;
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  padding-right: 8px;
}

.yAxisTitle {
  height: 115px;
  text-align: center;
  font-size: 13px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.months {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 4px;
  padding-right: 5vw;
}

.monthsTitle {
  grid-column-start: 3;
  grid-column-end: 3;
  width: 100%;
  padding-right: 5vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style: none;
  text-align: center;
}

.month {
  height: 102px;
  display: flex;
  flex-direction: column;
  border-bottom: #333333 1px solid;
  border-left: white 1px solid;
}

.bar {
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.fill {
  background-color: dodgerblue;
}

.active {
  background: linear-gradient(
    0deg,
    rgba(12, 74, 140, 1) 24%,
    rgba(26, 102, 177, 1) 57%,
    rgba(27, 129, 228, 1) 88%
  );
}
